.offers{
    padding:90px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    background:#101010;
    }
    
    .offer-card{
    padding:35px;
    background:#222;
    border-radius:18px;
    text-align:center;
    transition:.3s;
    }
    
    .offer-card:hover{
    background:#d4a017;
    color:white;
    transform:translateY(-10px);
    }
    
    .offer-card h2{
    margin-bottom:15px;
    }